.delete-confirmation-modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .delete-confirm-button {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .delete-cancel-button {
    background-color: darkgray;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 
  