.hidden {
    display: none; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem; 
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 60px;
    border-bottom: 2px solid #ccc;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
}



.logo {
    height: 40px; 
}

.logo img {
    height: 40px;
    width: auto; 
}


.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}


.nav-links li a {
    color: black;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #FFD700; 
}

.site-title {
    font-size: 24px; /* Adjust the font size */
    color: #333; /* Dark color for contrast */
    margin: 0 20px; /* Add some margin for spacing */
    display: inline-block; /* Keep it inline with the logo */
    font-family: 'Noto Sans Arabic';
}
.profile-button {
    display: flex; 
    align-items: center; 
    background: none;
    justify-content: center;
    border: 1px solid black; 
    border-radius: 24px;
    cursor: pointer; 
    font-size: 24px;
    color: rgb(0, 0, 0);
    height: 40px;
}

.burger-icon {
    margin-right: 12px;
    font-size: 16px;
}


.profile-dropdown {
    position: absolute;
    right: 10px; /* Aligns it to the right */
    top: 50px; /* Adjusts distance from the top */
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensures it is above other elements */
  }

.profile-dropdown li {
    list-style: none;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
    color: #333;
}


.profile-dropdown button {
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

.profile-dropdown button:hover {
    background: #6d0d0d; 
}


