.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.login-tile {
  width: 400px; /* Set the desired width */
  height: auto; /* Allow height to adjust based on content */
  padding: 20px; /* Inner spacing */
  margin: auto; /* Center the tile */
  background-color: #fff; /* Background color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
}