* {
    box-sizing: border-box;
}

.login-form-container {
    max-width: 800px;
    width: 400px;
    min-height: 600px;
    margin: 50px auto; 
    padding: 40px;  
    border-radius: 8px; 
    background-color: #ffffff;   
}



h1 {
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 20px; 
    font-size: 28px; 
    text-align: center; 
    color: #333; 
}

  
label {
    display: block;
    margin-bottom: 5px;
}
  
  
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}
  
input:focus {
    border-color: #007BFF; 
    outline: none; 
}
  
  
p {
    color: red;
    font-size: 1rem;
    margin-top: 10px; /* Added margin for spacing */
}
  
button {
    width: 100%;
    padding: 12px;
    background-color: rgb(82, 82, 247);
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(51, 51, 245);
}


button:hover:disabled {
  background-color: #ccc;
}


button:disabled {
  background-color: #ccc; 
  color: #999; 
  cursor: not-allowed; 
}

.demo-user-button{
  margin-top: 10px;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  